<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login your Juice account | World best multi-messaging App</title>

    <link rel="stylesheet" href="./styles.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:wght@300;700&family=Rubik:wght@300&display=swap"
        rel="stylesheet">






</head>

<body id="body">
    <section class="first-box">
        <header class="first-box-line">
            <nav class="navbar">
                <a href="" class="logo"><span>JU</span>ICE</a>

                <ul class="list">
                    <li class="list-item">
                        <a href="#" class="list-link">Home</a>
                    </li>
                    <li class="list-item">
                        <a href="#moderator-box" class="list-link">Download</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Blog</a>
                    </li>
                    <li class="list-item">
                        <a href="./index.html/#contact-box" class="list-link">Contact</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">About</a>
                    </li>

                </ul>
                <div class="right-items">
                    <a href="signup page.html" class="login">Sign-Up</a>
                </div>
            </nav>


        </header>


        <div class="login-container hide" id="login-box">

            <form method="post" action="./index.html" id="form">
        
                <h3>Login</h3>
        
                <div class="input-control">
                    <label for="username"></label>
                    <input type="text" name="username" class="input" placeholder="Email" id="username" >
                    <div class="error" id="error-message1"></div>
                </div>
                <div class="input-control">
                    <label for="password"></label>
                    <input type="password" name="password" class="input" placeholder="password" id="password" >
                    <div class="error" id="error-message2"></div>
                </div>
                <input type="submit" value="Login" class="submit" id="submitlogin">
                <br>
                <a class="forgot" href="#">Forgot Password</a>
                <p> Don't have an account? <a href="./signup page.html" id="midsignup">Sign-up</a></p>
        
        
            </form>
        
        
            
        
        </div>
    </section>
  

</body>




<footer class="drip">
    <div class="contactme" id="contact">
        <a href="#" class="logo"><span>JU</span>ICE</a>


        <ul class="contactme-list">
            <li class="list">
                <a href="#" class="media"> Instagram</a>
                <a href="#" class="media"> FaceBook</a>
                <a href="#" class="media"> Youtube</a>
                <a href="#" class="media"> Linkden</a>
            </li>
        </ul>
    </div>


</footer>

<script src="./main.js"></script>

</html>